.popup {
  width: max(500px, 40%);
  background-color: #fff;
  border-radius: var(--spacing-md);
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-xl);
  padding: var(--spacing-xl) 20px;
}

.step-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
}

.step-item {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.step-item p {
  color: var(--color-primary);
}

.step-number {
  padding: var(--spacing-sm) var(--spacing-md);
  border: 1px solid var(--color-primary);
  border-radius: 50%;
}

.step-number.selected {
  background-color: var(--color-primary);
  color: #fff;
}