.popup {
  width: max(500px, 40%);
  background-color: #fff;
  border-radius: var(--spacing-md);
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-xl);
  padding: var(--spacing-xl) 20px;
}

.step-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
}

.step-item {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.step-item p {
  color: var(--color-primary);
}

.step-number {
  padding: var(--spacing-sm) var(--spacing-md);
  border: 1px solid var(--color-primary);
  border-radius: 50%;
}

.step-number.selected {
  background-color: var(--color-primary);
  color: #fff;
}

.popup-title {
  font-size: var(--font-size-lg);
  padding: var(--spacing-xl) 0;
  border-top: 1px solid var(--color-secondary);
  border-bottom: 1px solid var(--color-secondary);
  font-weight: normal;
}

.step-content {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-xl);
}

.detail-input-container {
  display: flex;
  width: 100%;
}

.detail-input-container * {
  flex: 1;
}

.available-schedules-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  width: 100%;
  place-items: center;
  gap: var(--spacing-xl);
}

.form-title {
  font-weight: bold;
  text-align: center;
}

.form-input-container {
  display: flex;
  width: 100%;
  column-gap: var(--spacing-md);
}

.input-form-container {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  width: 100%;
}

.input-form, .input-phone {
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  padding: var(--spacing-md);
  width: 100%;
  height: fit-content;
}

.input-phone {
  display: flex;
  width: 100%;
  align-items: center;
  column-gap: 8px;
}

.input-phone p {
  text-align: center;
  border-right: 1px solid var(--color-primary);
  padding: 0 var(--spacing-sm);
}

.input-phone input {
  flex: 1;
  outline: none;
  border: none;
}

.text-box {
  height: 48px;
}

.error {
  color: red;
}