main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1;
}

.hero {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 24px;
  padding: 32px 0;
  scroll-margin-top: 32px;
}

.hero-title {
  font-family: var(--font-fam-hero);
  color: var(--color-primary);
  font-size: 40px;
  width: 700px;
  text-align: center;
  font-weight: normal;
}

.hero-text {
  font-size: var(--font-size-base);
  color: var(--color-primary);
  text-align: center;
}

.partner-section {
  display: flex;
  padding: 48px;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.partner-logo {
  font-size: var(--font-size-md);
  font-weight: bold;
  color: gray;
  padding: var(--spacing-md) var(--spacing-lg);
}