@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

:root {
  /* color */
  --color-primary: #706D54;
  --color-secondary: #A08963;
  --color-dark-primary: #3A382A;
  --color-gray: #807D7D;

  /* spacing */
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;

  /* font */
  --font-size-sm: 8px;
  --font-size-base: 12px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-fam-default: 'Roboto', sans-serif;
  --font-fam-hero: 'Macondo', sans-serif;

  /* shadow */
  --shadow-default: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-md: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

  /* transition */
  --transition-default: all 0.3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, p {
  color: #000;
}

button {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
}

html {
  font-family: var(--font-fam-default);
  scroll-behavior: smooth;
  font-size: var(--font-size-base);
  scrollbar-color: var(--color-primary) var(--color-secondary);
  scrollbar-width: thin;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  min-height: 100vh;
}

.cta-button {
  border: none;
  background-color: var(--color-primary);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  padding: var(--spacing-md) var(--spacing-lg);
  width: fit-content;
  text-align: center;
}

.cta-button:hover {
  filter: brightness(1.2);
}

.section-title {
  display: flex;
  column-gap: var(--spacing-md);
  padding: var(--spacing-md) var(--spacing-lg);
  align-items: center;
}

.section-title-text {
  font-size: var(--font-size-base);
  font-weight: bold;
  color: var(--color-primary);
}

.modal {
  position: fixed;
  z-index: 999;
  inset: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 70%);
  backdrop-filter: blur(3px);
}

/* custom */
.secondary {
  background-color: var(--color-secondary);
}