@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

:root {
  /* color */
  --color-primary: #706D54;
  --color-secondary: #A08963;
  --color-dark-primary: #3A382A;
  --color-gray: #807D7D;

  /* spacing */
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;

  /* font */
  --font-size-sm: 8px;
  --font-size-base: 12px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-fam-default: 'Roboto', sans-serif;
  --font-fam-hero: 'Macondo', sans-serif;

  /* shadow */
  --shadow-default: 4px 4px 2px var(--color-gray);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000;
}

button {
  background-color: transparent;
  border: none;
}

html {
  font-family: var(--font-fam-default);
  scroll-behavior: smooth;
  font-size: var(--font-size-base);
  scrollbar-color: var(--color-primary) var(--color-secondary);
  scrollbar-width: thin;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  min-height: 100vh;
}

.cta-button {
  border: none;
  background-color: var(--color-primary);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  padding: var(--spacing-md) var(--spacing-lg);
}

.cta-button:hover {
  background-color: var(--color-dark-primary);
}

.section-title {
  display: flex;
  column-gap: var(--spacing-md);
  padding: var(--spacing-md) var(--spacing-lg);
  align-items: center;
}

.section-title-text {
  font-size: var(--font-size-base);
  font-weight: bold;
  color: var(--color-primary);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-lg);
}


/* custom */
.secondary {
  background-color: var(--color-secondary);
}